body {
    background-color: white;
    color: white;
    background-image: url("../images/background.jpg");
    width: 1230px;
    border: 10px solid grey;
    padding: 10px;
    margin: 5px;
}
.float2 {
  color : white;
  font-size: 20px;
  float: right;
  width: 70%;
}
img {
  border-radius: 50%;
}
.project {
  background-color : grey;
}
h1 {
    color: solid green;
    text-align: center;
    text-transform: uppercase;
    text-decoration-line: underline;
}
/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}
.float{
  float: left;
  width: 30%;
}
