body {
    background-color: white;
    color: white;
    background-image: url("../images/background.jpg");
    width: 1230px;
    border: 10px solid grey;
    padding: 10px;
    margin: 5px;
}
.class1 {
  color : teal;
  font-size: 20px;
}
img {
  border-radius: 50%;
}
.project {
  background-color : yellow;
}
h1 {
    color: solid green;
    text-align: center;
    text-transform: uppercase;
    text-decoration-line: underline;
}
